*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     display: flex;
     justify-content: center;
     overflow: hidden;
     padding-top: 70px;
}
.row{
   
    display: flex;
    justify-content: space-between;
    width: 600px;
    font-size: 20px;
    margin-bottom: 10px;
}
.col-header{
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    display: flex;
    background-color: blueviolet;
    border-radius: 30px;
    color: white;
}
.placeholder{
    
    width: 100px;
    height: 50px;
}
.item{
    width: 100px;
    height: 90px;
    background-color: rgb(191, 0, 191);
    padding: 20px;
    border-radius: 10px;
    cursor: grab;
    text-align: center;

}
/* .item:hover{
    background-image:url("images/Image.jpeg") ;
} */

.item:active{
    cursor: grabbing;
}

.hold{
    border: 3px solid rgb(191, 0, 191);
}

.hovered{
    background-image: linear-gradient(rgb(191, 0, 191), white);
    height: 350px;
    border-radius: 10px;
}
