*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     display: flex;
     justify-content: center;
     overflow: hidden;
     padding-top: 70px;
}
.row{
   
    display: flex;
    justify-content: space-between;
    width: 600px;
    font-size: 20px;
}
.col-header{
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    display: flex;
    background-color: blueviolet;
    border-radius: 30px;
    color: white;
}